@media (max-width: 700px) {
  nav {
    display: none;
  }

}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 400;
  margin: 0;
}

.general-btn {
  background-color: #E0564F;
  color: white;
  padding: 15px 40px;
  border-radius: 25px;
  font-weight: 200;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

/*Navigation bar rules*/
/*.main-nav {*/
  /*float: right;*/
/*}*/

.main-nav li {
}


.main-nav > ul > li a:focus,
.main-nav > ul > li a:hover {
  color: #f25b5b;
}

.main-nav a:focus {
  color: #f25b5b;
}

.main-nav ul ul a:focus,
.main-nav ul ul a:hover {
  background-color: #f25b5b;
  color: #fff;
}

/*.main-nav ul ul {*/
  /*display: none;*/
/*}*/

/*.main-nav ul > li:hover > ul,*/
/*.main-nav ul > li:focus > ul {*/
  /*display: inline-block;*/
/*}*/

.main-nav > ul li ul li {
  display: inline-block;
  height: 100px;
  width: 300px;
}

.main-nav > ul li ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

/*End of navigation bar rules*/

/*Site Footer rules*/
.site-footer .footer-upper {
  background-color: #1E2024;
}

.site-footer .footer-upper > .footer-menu > ul > li > a {
  color: #FFF;
}

.site-footer .footer-upper > .footer-menu > ul > li ul a {
  color: #636363;
}

.site-footer .footer-upper > .footer-menu > ul > li ul a:focus,
.site-footer .footer-upper > .footer-menu > ul > li ul a:hover {
  color: #E0564F;
}

.site-footer .footer-bottom {
  background-color: #151515;
  color: #636363;
}

.site-footer .footer-bottom a {
  color: #636363;
}

.site-footer .footer-bottom a:hover,
.site-footer .footer-bottom a:focus {
  color: #D6D6D6;
}

.site-footer > .footer-bottom > .social-links a {
  color: #636363;
}

.site-footer > .footer-bottom > .social-links a:focus,
.site-footer > .footer-bottom > .social-links a:hover {
  color: #D6D6D6;

}

/*End of site footer rules*/
.main-section {
  height: 530px;
  background-image: url(../assets/main-bg/home-brain-image-new-1920x816.png), url(../assets/main-bg/home-featured-bg.png);
  -webkit-background-size: contain, cover;
  background-repeat: no-repeat, repeat;
  background-size: contain, contain;
  text-align: center;
  padding-top: 120px;
  padding-left: 300px;
  padding-right: 300px;
}

.main-section > h2 {
  color: #fff;
  font-size: 5em;
  margin-bottom: 0.7em;
}

.our-blog {
  height: 500px;
}

.our-blog .blog-header {
  display: inline-block;
  width: 16.6666667%;
  background-color: #F14848;
  height: 100%;
}

.our-blog .blog-items {
  display: inline-block;
  width: 83%;
  height: 100%;
}

.our-blog .blog-items > li {
  display: inline-block;
  width: 16%;
  height: 100%;
}

.our-blog .blog-items a {
  width: 100%;
  height: 100%;
  display: block;
}

.our-blog .blog-items a[href*="BLOG1"] {
  background-image: url(../assets/blog/ibc_post_EI-750x508.png);
  background-position: 45% 20%;
}

.our-blog .blog-items a[href*="BLOG2"] {
  background-image: url(../assets/blog/IMG_9294-750x563.jpeg);
  background-position: 45% 20%;
}

.our-blog .blog-items a[href*="BLOG3"] {
  background-image: url(../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg);
  background-position: 45% 20%;
}

.our-blog .blog-items a[href*="BLOG4"] {
  background-image: url(../assets/blog/post_tv_connect-750x508.jpeg);
  background-position: 45% 20%;
}

.our-blog .blog-items a[href*="BLOG5"] {
  background-image: url(../assets/blog/post_quality-750x508.jpeg);
  background-position: 45% 20%;
}




